In [2]:
from datetime import datetime, date, timedelta
from dotenv import load_dotenv

from quantrion.asset.alpaca import (
    AlpacaUSStock,
    AlpacaUSStockListProvider,
    AlpacaCrypto,
)
from quantrion import settings

load_dotenv()
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
asset = AlpacaUSStock("AAPL")
start = asset.dt.now() - timedelta(days=5)
bars = await asset.bars.get(start, freq="5min")

In [4]:
bars.head()

                             open    high     low   close  volume       price
start
2022-08-29 02:45:00-04:00  160.14  160.14  160.07  160.07     682  117.871305
2022-08-29 04:00:00-04:00  161.98  162.04  160.30  161.50   27547   70.450944
2022-08-29 04:05:00-04:00  161.49  161.53  161.43  161.52   11984   39.169084
2022-08-29 04:10:00-04:00  161.52  161.53  161.37  161.43   12332   66.714427
2022-08-29 04:15:00-04:00  161.40  161.64  161.38  161.64   13357   33.172266

In [5]:
asset.restriction.filter(bars).head()

,open,high,low,close,volume,price
start,,,,,,
2022-08-29 09:30:00-04:00,161.145,162.340,160.60,162.3400,4840301,93.038978
2022-08-29 09:35:00-04:00,162.360,162.750,162.00,162.0500,1637224,44.706910
2022-08-29 09:40:00-04:00,162.030,162.490,162.02,162.2600,1401574,39.845976
2022-08-29 09:45:00-04:00,162.250,162.375,161.60,161.7580,1241345,33.028532
2022-08-29 09:50:00-04:00,161.760,162.320,161.73,162.1401,1122594,43.483408

In [3]:
crypto = AlpacaCrypto("BTC/USD")
start = crypto.dt.now() - timedelta(days=365)
bars = await crypto.bars.get(start, freq="3min")

In [15]:
bars.to_csv("files/btc_historical.csv", index_label="start")

In [6]:
bars.tail()

,open,high,low,close,volume,price
start,,,,,,
2022-09-01 14:15:00+00:00,19844.0,19878.0,19816.0,19867.0,32.0318,13.008301
2022-09-01 14:20:00+00:00,19859.0,19944.0,19843.0,19944.0,25.4149,42.583740
2022-09-01 14:25:00+00:00,19942.0,19958.0,19904.0,19930.0,15.5729,16174.458990
2022-09-01 14:30:00+00:00,19923.0,19924.0,19884.0,19901.0,4.3408,91.298655
2022-09-01 14:35:00+00:00,19900.0,19921.0,19859.0,19873.0,4.7356,128.132000

Index(['open', 'high', 'low', 'close', 'volume', 'price', 'n_trades'], dtype='object')