In [7]:
from datetime import datetime, date, timedelta
from dotenv import load_dotenv

from quantrion import settings

load_dotenv()
%load_ext autoreload
%autoreload 2

In [8]:
from quantrion.asset.alpaca import AlpacaUSStock

In [9]:
asset = AlpacaUSStock("AAPL")

In [17]:
start = asset.dt.now() - timedelta(days=5)
bars = await asset.bars.get(start, freq="5min")

In [18]:
bars.head()

                             open    high     low   close volume       price
2022-08-29 02:00:00-04:00  160.72  160.72  160.72  160.72    117      160.72
2022-08-29 02:40:00-04:00  160.15  160.15  160.10  160.10    718  160.122758
2022-08-29 02:45:00-04:00  160.14  160.14  160.07  160.07    682  160.118519
2022-08-29 02:55:00-04:00  160.10  160.10  160.10  160.10    169       160.1
2022-08-29 03:00:00-04:00  160.41  160.61  160.41  160.61    601  160.509983

In [20]:
asset.is_trading_filter(bars).head()

                              open     high  ...   volume       price
2022-08-29 09:30:00-04:00  161.145  162.340  ...  4840301  161.397846
2022-08-29 09:35:00-04:00  162.360  162.750  ...  1637224  162.333715
2022-08-29 09:40:00-04:00  162.030  162.490  ...  1401574   162.29678
2022-08-29 09:45:00-04:00  162.250  162.375  ...  1241345  162.004572
2022-08-29 09:50:00-04:00  161.760  162.320  ...  1122594  162.003483

[5 rows x 6 columns]